.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
}

mat-spinner {
    grid-column: 2;
    margin: 0 auto;
}

mat-card {
    border-radius: .5rem;
}

mat-card img {
    max-width: 100%;
}

mat-card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-card-content, mat-card-header {
    padding: 1rem;
}

.actions {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

#search-bar {
    float: center;
    text-align:center;
    padding: 5px;
    display: flex;
    margin: 1rem;  
}

#search-button {
    display: inline-block;
    clear: both;
    text-align:center;
    display: flex;
    margin:1rem;
}

div {
    display: flex;
    align-items: center;
    margin: auto;
    
}

.header {
   margin: auto;
   width: 50%;
   border: 3px solid rgb(2, 51, 2);
   padding: 10px;
   text-align: center;
   align-items: center;
   right: 0px;  
   border-radius: 25px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: coral;
    padding: 0 70px 0 30px;
  }

#dark-button {
    background-color: plum;
}

.white-mode .name-card  {
    color: white;
}

.white-mode .card-elements {
    color: white;
}

.white-mode .top-div {
    background-color: white;
}

.dark-mode .name-card {
    color: white;
}

.dark-mode .card-elements {
    color: white;
}

.dark-mode .card {
    background-color: black;
}

.dark-mode .top-div {
    background-color: black;
}