<div >
    <!-- <table id="all-table" mat-table [dataSource]="data" class="styled-table">
        <ng-container matColumnDef="id">
        <th id="header" mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="merchantId">
            <th id="header" mat-header-cell *matHeaderCellDef> Merchant ID </th>
            <td mat-cell *matCellDef="let element"> {{element.merchantId}} </td>
        </ng-container>
        <ng-container matColumnDef="paymentNode">
            <th id="header" mat-header-cell *matHeaderCellDef> Payment Node </th>
            <td mat-cell *matCellDef="let element"> {{element.paymentNode}} </td>
        </ng-container>
        <ng-container matColumnDef="cnpjRoot">
            <th id="header" mat-header-cell *matHeaderCellDef> CNPJ </th>
            <td mat-cell *matCellDef="let element"> {{element.cnpjRoot}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th id="header" mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="paymentType">
            <th id="header" mat-header-cell *matHeaderCellDef> paymentType </th>
            <td mat-cell *matCellDef="let element"> {{element.paymentType}} </td>
        </ng-container>
        <ng-container matColumnDef="cardBrand">
            <th id="header" mat-header-cell *matHeaderCellDef> cardBrand </th>
            <td mat-cell *matCellDef="let element"> {{element.cardBrand}} </td>
        </ng-container>
        <ng-container matColumnDef="authorizationCode">
            <th id="header" mat-header-cell *matHeaderCellDef> authorizationCode </th>
            <td mat-cell *matCellDef="let element"> {{element.authorizationCode}} </td>
        </ng-container>
        <ng-container matColumnDef="truncatedCardNumber">
            <th id="header" mat-header-cell *matHeaderCellDef> truncatedCardNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.truncatedCardNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="grossAmount">
            <th id="header" mat-header-cell *matHeaderCellDef> grossAmount </th>
            <td mat-cell *matCellDef="let element"> {{element.grossAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="netAmount">
            <th id="header" mat-header-cell *matHeaderCellDef> netAmount </th>
            <td mat-cell *matCellDef="let element"> {{element.netAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="terminal">
            <th id="header" mat-header-cell *matHeaderCellDef> terminal </th>
            <td mat-cell *matCellDef="let element"> {{element.terminal}} </td>
        </ng-container>
        <ng-container matColumnDef="administrationFee">
            <th id="header" at-header-cell *matHeaderCellDef> administrationFee </th>
            <td mat-cell *matCellDef="let element"> {{element.administrationFee}} </td>
        </ng-container>
        <ng-container matColumnDef="channelCode">
            <th id="header" mat-header-cell *matHeaderCellDef> channelCode </th>
            <td mat-cell *matCellDef="let element"> {{element.channelCode}} </td>
        </ng-container>
        <ng-container matColumnDef="channel">
            <th id="header" mat-header-cell *matHeaderCellDef> channel </th>
            <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
        </ng-container>
        <ng-container matColumnDef="withdrawAmount">
            <th id="header" mat-header-cell *matHeaderCellDef> withdrawAmount </th>
            <td mat-cell *matCellDef="let element"> {{element.withdrawAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="minimumMDRAmmount">
            <th id="header" mat-header-cell *matHeaderCellDef> minimumMDRAmmount </th>
            <td mat-cell *matCellDef="let element"> {{element.minimumMDRAmmount}} </td>
        </ng-container>
        <ng-container matColumnDef="mdrTaxAmount">
            <th id="header" mat-header-cell *matHeaderCellDef> mdrTaxAmount </th>
            <td mat-cell *matCellDef="let element"> {{element.mdrTaxAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="mdrFeeAmount">
            <th id="header" mat-header-cell *matHeaderCellDef> mdrFeeAmount </th>
            <td mat-cell *matCellDef="let element"> {{element.mdrFeeAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th id="header" mat-header-cell *matHeaderCellDef> status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay" ></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table> -->
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <!-- Generate table columns from 'columnsToDisplay' -->
        <ng-container *ngFor="let column of columnsToDisplay; let i = index" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef> {{ column | uppercase }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
        </ng-container>
      
        <!-- Header row -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      
        <!-- Data rows -->
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    <div class="actions">
        <button mat-raised-button
            id="prev-button"
            [disabled]="this.web.isFirstPage"
            (click)="movePreviousPage()">
            Prev
        </button>
        <button mat-raised-button (click)="moveNextPage()">Next</button>
    </div>
</div>
