<div class="header">
  <div class="busca">
    <h1 id="h1-cell">Payment Records</h1>
    <input matInput [(ngModel)]="itemName" id="search-bar" type="text" placeholder="Search ID">
    <button (click)="inputValue()" id="search-button" type="button" mat-raised-button>Search ID</button> 
  </div>
    <table mat-table [dataSource]="data" class="all-table">
        <ng-container *ngFor="let column of columnsToDisplay; let i = index" [matColumnDef]="column">
          <th id="table-header" mat-header-cell *matHeaderCellDef> {{ column | uppercase }} </th>
          <td id="table-cell" mat-cell *matCellDef="let element"> {{ element[column] }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
      
    <div class="actions">
        <button mat-raised-button
            id="prev-button"
            [disabled]="this.web.isFirstPage"
            (click)="movePreviousPage()">
            Prev
        </button>
        <button mat-raised-button 
        (click)="moveNextPage()"
        [disabled]="this.web.isLastPage">
        Next</button>
    </div>
   
</div>
