.busca {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.all-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.actions {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

#table-header {
    background-color: #016b56;
    color: #ffffff;
    text-align: center;
}

#table-cell {
    text-align: center;
    color: #000000;
    border-bottom: 1px solid #dddddd;
}

#h1-cell {
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to left, #042b09, #65c079);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

tr:nth-child(even) {
    background-color: #9ae0b7;
}

#search-bar {
    font-size: 20px;
    font-weight: 600;
}



