#header {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

#all-table{
    border-spacing: 4px;
}

.mat-column-id {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-merchantId {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-paymentNode {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-cnpjRoot {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-date {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-paymentType {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-cardBrand {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-authorizationCode {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-truncatedCardNumber {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-grossAmount {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-netAmount {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-terminal {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-administrationFee {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-channelCode {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-channel {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-withdrawAmount {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-minimumMDRAmmount{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-mdrTaxAmount {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-mdrFeeAmount {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.mat-column-status {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}




